
/*
*   General Form styles
*/
.input_wrapper {
    margin: 10px 0;
}

.input_wrapper.task {
    border: 1px solid #EA9090;
    padding: 2px;
}

.input_text {
    box-sizing: border-box;
    margin-bottom: 10px;
    width:100%;
    height:28px;
    font-size:15px;
    padding-left:5px;
    padding-right:5px;
    border: 2px solid #EE6666;
    background-color:#FCF1F1;
    outline: none;
}

.input_text.content {
    box-sizing: border-box;
    height:150px;
}

.input_text.title {
    width:250px;
}

.input_text.date {
    width:150px;
    cursor:pointer;
}

.input_text.login {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color:#EAEAEA;
    background: -moz-linear-gradient(top, #FFF, #EAEAEA);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #FFF), color-stop(1.0, #EAEAEA));
    border: 1px solid #CACACA;
    color: #444;
    font-size: 1.4em;
    margin: 0 0 25px;
    padding: 5px 9px;
    width: 260px;
    height:40px;
}

.inputs:focus {
    background: #FFF;
    -webkit-box-shadow: 0 0 25px #CCC;
    -moz-box-shadow: 0 0 25px #ccc;
    box-shadow: 0 0 25px #CCC;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}

textarea {
    resize: none;
}

.submitbtn {
    float: right;
    min-width: 160px;
    font-size: 120%;
    height: 45px;
    border: 2px solid #EE6666;
    background-color:white;
    margin-right:5px;
    border-radius: 0px;
}

.submitbtn:hover {
    background-color:#EE6666;
    color: white;
}

.error {
    margin-top:-5px;
    line-height:10px;
    color:red;
}

.invisible {
    visibility: hidden;
}

.conceal {
    display:none;
}

.randomtable {
    background-color:white;
    border:2px solid grey;
    width:100%;
    margin:10px 0;
}

.randomtable .head {
    background-color:darkgrey;
    color:white;
}

.randomtable .r1 {
    background-color:#FCF1F1;
}

.awesomeTable {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
  background-color:white;
  border:2px solid grey;
  margin:10px 0;
}

.awesomeTable .awesomeHead {
    background-color:darkgrey;
    color:white;
}

.awesomeTable td {
    overflow: auto;
    border: 1px solid grey;
    /*
  white-space: nowrap;
    overflow: hidden;
  text-overflow: ellipsis;
    */
}

/* Column widths are based on these cells */
.row-fivePercent {
  width: 5%;
}
.row-tenPercent {
  width: 10%;
}
.row-fifteenPercent {
  width: 15%;
}
.row-twentyPercent {
  width: 20%;
}
.row-thirtyPercent {
  width: 30%;
}
.row-fortyPercent {
  width: 40%;
}
.row-fortyfivePercent {
  width: 45%;
}
.row-fiftyPercent {
  width: 50%;
}
.row-sixtyPercent {
  width: 60%;
}


