
html, body {
    width:100%;
    margin: 0;
    background-image: url("/img/innerbg.gif");
    /*background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    background-color: #dddddd;
}
html{
  height: 100%;
}
body {
  min-height: 100%;
}

/*
*   Login page / index.html
*/

.box {
    width:300px;
    height:200px;
    padding: 40px 30px;
}

.login.box {
    background-color:#6AA2EF;
    position: fixed;
    margin: 14% 40%;
    height:280px;
    width:320px;
    box-shadow: 10px 10px 5px #888888;
    border: 2px solid #6AA2EF;
    border-radius: 10px;
    
}

.createuser.box {
    background-color:blue;
}



    img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}


.banner {
    width:100%;
    height:100px;
    background-color:#50B5D1;
    z-index:2;
}

.innerbody {
    width:100%;
    min-height:750px;
    background-color:rgb(230,230,230);
    border-radius: 10px;
}

.left_panel {
    width:100%;
    height:40px;
    margin-right:0;
}

.left_panel .panel{
    width:100%;
    height:40px;
    font-size:18px;
    text-align:center;
    margin-top:0;
    margin-bottom:2px;
}


.panel.header{
    height:50px;
    background-color:#3779D5;
    line-height:50px;
    color:white;
    border-radius: 5px;
}

.panel.btn {
    color:black;
    -webkit-box-shadow: 0px 27px 109px -27px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 27px 109px -27px rgba(0,0,0,0.75);
    box-shadow: 0px 27px 109px -27px rgba(0,0,0,0.75);
    text-decoration: none !important;
    border-radius: 5px;
    cursor:pointer;
}


.panel.btn:hover {
    background-color: #80C1F6;
    color:white;
}


.right_content {
    width:100%;
    margin-left:0px;
    margin-right:0px;
}




a:link {
    color: #FFFFFF;
    text-decoration: none;
}
a:hover {
     color:#FFFFFF; 
     text-decoration:none; 
}
a:visited{
     color:#FFFFFF; 
     text-decoration:none; 
}
a:active{
     color:#FFFFFF; 
     text-decoration:none; 
}

// Classes
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.pull-right .top {
  top: 15px;
}

// Usage as mixins
.element {
  .pull-left();
}
.another-element {
  .pull-right();
}

.fullreport {
    margin: 5px auto;
    padding:10px;
    width:95%;
    min-height:100px;
    border:2px solid black;
    border-radius:10px;
    background-color: #FCFFCC;
}


/*
*  Create Assignment
*/
.createassignment #randombtn {
    margin:5px 0;
    background-color:white;
    border: 2px solid lightblue;
    width:100px;
    padding-left:12px;
    cursor:pointer;
}

.createassignment #submitbtn {
    float:right;
    width:200px;
    height:45px;
    margin-top:15px;
    margin-bottom:50px;
    background-color:white;
    border: 2px solid lightblue;
    cursor:pointer;
}

.createassignment #randombtn:hover, .createassignment #submitbtn:hover {
    background-color:yellow;
}

.createassignment #submitbtn:disabled {
    background-color:grey;
    color:white;
    border: 2px solid black;
}


/*
*  Report Submission
*/

.submitreport .input_wrapper {
    margin-bottom:15px;
}

.submitreport .finalise {
    text-align:right;
    margin-right:20px;
}

.submitreport .finalsubmit {
    float:right;
    width:100px;
    height:40px;
    background-color:yellow;
}

.submitreport .finalsubmit:hover {
    background-color:red;
}

.submitreport .upload {
    position:relative;
    width:90%;
    margin:0 auto;
}

#uploadfile {
    width:100%;
    height:50px;
    background-color:white;
    color:black;
    border:2px solid lightblue;
    padding:12px;
}

#btn_uploadfile {
    width:100px;
    height:30px;
    background-color:white;
    color:black;
    font-size:15px;
    float: right;
}

#btn_uploadfile:disabled, .submitreport .finalsubmit:disabled {
    background-color:grey;
    color:white;
}

.clean {
    content:'';
    display:block;
    clear: both;
}


/*
*   Assessment page
*/

.assessments .container {
    width:100%;
    padding: 10px 10px;
}

.assessments .item {
    position:relative;
    width:100%;
    min-height:155px;
    background-color:white;
    padding:0;
    border-radius:20px;
    border:8px solid red;
    margin: 10px auto;
    cursor:pointer;
}

.assessments .item.complete {
    border:8px solid green;
}


.assessments .item:hover {
    background-color:yellow;
}

.assessments .name {
    position:absolute;
    top:5px;
    left:10px;
}

.assessments .name span {
    font-size:24px;
}

.assessments .linebreak {
    position:absolute;
    top:40px;
    width:100%;
    height:1px;
    background-color:black;
}


.assessments .feedback {
    position:absolute;
    left:10px;
    top:50px;
}


.assessments .assignment {
    position:absolute;
    left:10px;
    bottom:30px;
}

.assessments .status {
    position:absolute;
    left:10px;
    bottom:10px;
}

.assessments .score {
    position:absolute;
    right:10px;
    bottom:10px;
}

.assessments .more {
    position:absolute;
    right:10px;
    top:10px;
}

/*
*   Make Assessment page
*/

.makeassessment .rating {
    margin:10px 0;
}


/* Star rating */
.starRating:not(old){
  display        : inline-block;
  width          : 200px;
  height         : 40px;
  overflow       : hidden;
  vertical-align : bottom;
}

.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.starRating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('../img/star_off.png');
  background-size : contain;
}

.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 40px;
  height          : 40px;
  background      : url('../img/star_on.png');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}

.navbar-brand a {
    line-height: 100px;
    height: 100px;
    padding-top: 0;
}


.heading {
    margin-left:10px;
    font-size:35px;
}

.heading2 {
    font-size:18px;
    margin-top:5px;
}

.forum, .createthread, .viewthread, .submitreport,
.createuser, .viewall, .createassignment, .searchusers {
    padding:10px 5px;
}

.linebreak {
    width:100%;
    height:1px;
    background-color:black;
    margin:20px 0;
}


/*
*   Forum page
*/

.forum .newthread {
    width:200px;
    height:50px;
    line-height: 50px;
    background-color:red;
    border:2px solid lightblue;
    border-radius:5px;
    font-size:20px;
    text-align:center;
    cursor:pointer;
    float:right;
}

.forum .newthread:hover {
    background-color:yellow;
}

ul#container {
    list-style-type: none;
    padding:0;
}

.forum #query {
    width:250px;
    border:2px solid lightblue;
}
.forum .container {
    width:100%;
    padding:0 40px;
    margin-top:15px;
}

.forum .item {
    background-color:white;
    width:90%;
    height:95px;
    margin:10px auto;
    cursor:pointer;
    border: 2px solid lightblue;
}

.forum .item:hover {
    background-color:yellow;
}

.forum .item ._left {
    position: relative;
    width:calc(100% - 100px);
    height:100%;
    float:left;
    padding:5px;
}

.forum .item ._right {
    width:100px;
    height:100%;
    float:right;
    border-left:2px solid lightblue;
    text-align:center;
}

.forum .item .title {
    font-size:17px;
}

.forum .date, .viewthread .date {
    font-size:12px;
    position: absolute;
    bottom:2px;
}

.forum .item .n {
    margin-top:10px;
    font-size:28px;
}

.forum .item .post {
    font-size:15px;
}

/*
*   View thread page
*/

.viewthread .heading {
    margin-bottom:10px;
}

.viewthread .container {
    width:90%;
    margin-bottom:10px;
}

.viewthread .container2 {
    width:90%;
    margin: 0 auto;
    margin-top:25px
}

.viewthread .comment {
    background-color:white;
    border:2px solid lightblue;
    min-height:65px;
}

