
html, body {
    width:100%;
    overflow-x: hidden;
    margin: 0;
    background-color: lightgray !important;
}
html{
  height: 100%;
}
body {
  min-height: 100%;
}

/*
*   Login page / index.html
*/

.loginbox {
    height:400px;
    width:100%;
    background-color:white;
    margin-top:100px;
    -moz-box-shadow: 0px 0px 20px rgb(180,180,180);
    -webkit-box-shadow: 0px 0px 20px rgb(180,180,180);
    box-shadow: 0px 0px 20px rgb(180,180,180);
    padding:10px 20px;
}


.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.banner {
    width:100%;
    height:100px;
    background-color:rgb(238,102,102);
    z-index:2;
    overflow-x: hidden;
    overflow-y: hidden;
    border-bottom:1px solid lightgray;
}

.tab {
    width:100%;
    height:100px;
    text-align:center;
    color:white;
    vertical-align: middle;
    font-size:1.5em;
    padding-top:30px;
    cursor:pointer;
}

.tab:hover {
    background-color:white;
    color:rgb(238,102,102);
}

.innerbody {
    width:100%;
    min-height:750px;
    background-color:white;
    padding-bottom:100px;
    -moz-box-shadow: 0px 8px 12px rgb(180,180,180);
    -webkit-box-shadow: 0px 8px 12px rgb(180,180,180);
    box-shadow: 0px 8px 12px rgb(180,180,180);
}


.logo {
    max-width:100%;
    height:100px;
    display:block;
    margin:auto;
}

.left_panel {
    width:100%;
    height:40px;
    margin-right:0;
}

.left_panel .panel{
    width:100%;
    height:40px;
    font-size:18px;
    text-align:center;
    margin-top:0;
    margin-bottom:2px;
    border-radius:0;
}


.panel.header{
    height:50px;
    background-color:white;
    line-height:50px;
    color:white;
}

.panel.btn {
    color:black;
    cursor:pointer;
}


.panel.btn:hover {
    background-color: lightgray;
    color:white;
}


.right_content {
    width:100%;
    margin-left:0px;
    margin-right:0px;
}




a {
    color: #FFFFFF;
    text-decoration: none !important;
}


.fullreport, .feedback {
    margin: 5px auto;
    padding:10px;
    width:95%;
    min-height:100px;
    border:2px solid black;
    border-radius:5px;
}

.fullreport {
    background-color: #FCFFCC;
}

.feedback {
    background-color: white;
}

/*
*  Create Assignment
*/
.createassignment #randombtn {
    margin:5px 0;
    background-color:white;
    border: 2px solid #EE6666;
    width:100px;
    padding-left:12px;
    cursor:pointer;
}


.createassignment #randombtn:hover {
    background-color:yellow;
}


/*
*  Report Submission
*/

.submitreport .input_wrapper {
    margin-bottom:15px;
}

.submitreport .finalise {
    text-align:right;
    margin-right:20px;
}

.submitreport .finalsubmit {
    float:right;
    width:100px;
    height:40px;
    background-color:yellow;
}

.submitreport .finalsubmit:hover {
    background-color:rgb(238,102,102);
}

.submitreport .upload {
    position:relative;
    width:90%;
    margin:0 auto;
}

#uploadfile {
    width:100%;
    height:50px;
    background-color:white;
    color:black;
    border:2px solid #EE6666;
    padding:12px;
}

#btn_uploadfile {
    width:100px;
    height:30px;
    background-color:white;
    color:black;
    font-size:15px;
    float: right;
}

#btn_uploadfile:disabled, .submitreport .finalsubmit:disabled {
    background-color:grey;
    color:white;
}

.clean {
    content:'';
    display:block;
    clear: both;
}


/*
*   Assessment/Marks page
*/

.assessments .container, .viewmarks .container {
    width:100%;
    padding: 10px 10px;
}

.assessments .item, .viewmarks .item {
    position:relative;
    width:100%;
    height:125px;
    background-color:white;
    padding:0;
    border:5px solid rgb(238,102,102);
    margin: 8px auto;
    cursor:pointer;
}

.assessments .item.Complete, .viewmarks .item.Complete {
    border:5px solid green;
}

.assessments .item:hover:enabled, .viewmarks .item:hover:enabled {
    background-color:#F38E8E;
}

.assessments .item.Complete:hover:enabled, .viewmarks .item.Complete:hover:enabled {
    background-color:#ACF295;
}

.assessments .item:disabled, .viewmarks .item:disabled {
    border:5px solid gray;
    cursor:not-allowed;
}


.assessments .name, .viewmarks .name {
    position:absolute;
    top:5px;
    left:10px;
}

.assessments .name span, .viewmarks .name span {
    font-size:24px;
}

.item .linebreak {
    position:absolute;
    top:28px;
    width:100%;
    height:1px;
    background-color:black;
}


.assessments .assignment, .viewmarks .assignment {
    position:absolute;
    left:10px;
    text-align:left;
    
}

.assessments .assignment, .viewmarks .assignment {
    bottom:30px;
}

.assessments .status, .viewmarks .status {
    position:absolute;
    left:10px;
    bottom:10px;
}

.assessments .score, .viewmarks .score {
    position:absolute;
    right:10px;
    bottom:10px;
}

.assessments .more, .viewmarks .more {
    position:absolute;
    right:10px;
    top:10px;
}

/*
*   Make Assessment page
*/

.makeassessment .rating {
    margin:10px 0;
}


/* Star rating */
.starRating:not(old){
  display        : inline-block;
  width          : 200px;
  height         : 40px;
  overflow       : hidden;
  vertical-align : bottom;
}

.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.starRating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('../img/star_off.png');
  background-size : contain;
}

.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 40px;
  height          : 40px;
  background      : url('../img/star_on.png');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}


.viewstar {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height:40px;
    width:40px;
    border:none;
    float:left;
}

.viewstar._off {
    background: url("../img/star_off.png") no-repeat;
    background-size : contain;
}

.viewstar._on {
    background: url("../img/star_on.png") no-repeat;
    background-size : contain;
}

.navbar-brand a {
    line-height: 100px;
    height: 100px;
    padding-top: 0;
}


.heading {
    margin-left:10px;
    font-size:35px;
}

.heading2 {
    font-size:18px;
    margin-top:5px;
    margin-left:5px;
}

.heading3 {
    font-size:25px;
    margin-top:5px;
    margin-left:5px;
}

.heading4 {
    font-size:17px;
    margin-top:3px;
    margin-left:3px;
}

.aboutbody {
    margin: 0px 10px;
}

.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.forum, .createthread, .viewthread, .submitreport, .assessments, .makeassessment,
.createuser, .createassignment, .searchusers, .viewmarks,
.about, .viewall, .main {
    padding:10px 5px;
}

.linebreak {
    width:100%;
    height:2px;
    background-color:#EE6666;
    margin:20px 0;
}


/*
*   Forum page
*/

.forum .newthread {
    width:200px;
    height:50px;
    line-height: 50px;
    background-color:#EE6666;
    /*border:2px solid lightblue; */
    border-radius:5px;
    color: white;
    font-size:20px;
    text-align:center;
    cursor:pointer;
    float:right;
}

.forum .newthread:hover {
    background-color: #EE9B9B;
    color: black;
}

ul#container {
    list-style-type: none;
    padding:0;
}

.forum #query {
    width:250px;
    border:2px solid #EB5D5D;
    outline: none;
}
.forum .container {
    width:100%;
    padding:0 40px;
    margin-top:15px;
}

.forum .item {
    background-color:white;
    width:90%;
    height:95px;
    margin:10px auto;
    cursor:pointer;
    border: 2px solid #EE6666;
}

.forum .item:hover {
    background-color: #F87C7C;
    color: white;
}

.forum .item ._left {
    position: relative;
    width:calc(100% - 100px);
    height:100%;
    float:left;
    padding:5px;
}

.forum .item ._right {
    width:100px;
    height:100%;
    float:right;
    border-left:2px solid #EE6666;
    text-align:center;
}

.forum .item .title {
    font-size:17px;
}

.forum .date, .viewthread .date {
    font-size:12px;
    position: absolute;
    bottom:2px;
}

.forum .item .n {
    margin-top:10px;
    font-size:28px;
}

.forum .item .post {
    font-size:15px;
}

/*
*   View thread page
*/

.viewthread .heading {
    margin-bottom:10px 0;
}

.viewthread .container {
    width:90%;
    margin-bottom:10px;
}

.viewthread .container2 {
    width:90%;
    margin: 0 auto;
    margin-top:25px
}

.viewthread .comment {
    position:relative;
    background-color:white;
    border:2px solid #EE6666;
    min-height:65px;
    margin:5px 0;
}

.comment .link{
    display:none;
    position:absolute;
    right:10px;
    bottom:5px;
    pointer:cursor;
    z-index:2;
    cursor:pointer;
}

.comment .link.candelete {
    display:block;
}

#rankField {
	color:rgb(238,102,102);
	font-weight: bold;
	font-size:1.5em;
}
