<!doctype html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>The HTML5 Herald</title>

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/form.css">
  
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="js/app.js"></script>
    

</head>

<body ng-controller="Login">
<img src=http://static.hdw.eweb4.com/media/wallpapers_1920x1080/photography/1/1/blurry-lights-beyond-the-dock-photography-hd-wallpaper-1920x1080-2536.jpg" class="bg">
<div class="login box">
    <!--Login form-->
    <form ng-submit="submit()">
        
            <div class="input_wrapper">
                Email
                <input type="text" class="input_text" ng-model="account.email">
            </div>
            
            <div class="input_wrapper">
                Password
                <input type="password" class="input_text" ng-model="account.password">
            </div>
            
            <div class="input_wrapper">
                <button type="submit" >Login</button>
            </div>
            
        </form>
    </div>
</body>
	
</html>
