<div>
    <!-- Create User form -->
    <form ng-submit="submit()">
    
        <div class="input_wrapper">
            First Name
            <input type="text" class="input_text" ng-model="account.firstname">
        </div>
        
        <div class="input_wrapper">
            Last Name
            <input type="text" class="input_text" ng-model="account.lastname">
        </div>
        
        <div class="input_wrapper">
            Email
            <input type="text" class="input_text" ng-model="account.email">
        </div>
        
        <div class="input_wrapper">
            Password
            <input type="password" class="input_text" ng-model="account.password">
        </div>
        
        <div class="input_wrapper">
            Password
            <input type="text" class="input_text" ng-model="account.groupname">
        </div>
        
        
        <div class="input_wrapper">
            <button type="submit" >Create User</button>
        </div>
        
    </form>
   <!-- <script language="javascript">
//var dt=new Date();
//var dt_month=dt.getMonth() +1;
//alert(dt_month);
function addOption(selectbox,text,value )
{
var optn = document.createElement("OPTION");
optn.text = text;
optn.value = value;
selectbox.options.add(optn);
}

function addOption_list(){
var groupname = new Array("1","2","3","4","5","6","7","8","9","10","11","12");
for (var i=0; i < groupname.length;++i){
addOption(document.drop_list.Group_list, groupname[i], groupname[i]);
}
}

</script>

<body onLoad="addOption_list()";>
 
<br><br>
<FORM name="drop_list" action="yourpage.php" method="POST" >

<SELECT NAME="Group_list">
<Option value="" >Group list</option>
</SELECT>
</form>
</body>
-->
</div>

